*{
 margin: 0;  
 padding: 0; 
}
header{
    width: 100%;
    background-size: cover;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
   justify-content: center;
   background-repeat: no-repeat;
   align-items: center;
}
.header-img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    justify-content: right;
}
.hero-text h1{
    color: #272727;
   font-family: Lato;
   font-size: 80px;
   font-style: normal;
   font-weight: 800; 
   width: 708px; 
}
.hero-text p{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.hero-text button{
    border-radius: 8px;
    background: #E55473;
    padding: 10px 30px 10px;
    margin-top: 20px;
    color: white;
} 
/********************* header section done  ******************/

/*********** our featured flowers section  start now ********/
/* .our-featured{
     height: 70vh;
     width: 100%;
   background-color: aquamarine;
} */
.featured-text h1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 100px;
}  
.featured-text p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}
.image-title1{
    width: 250px;
    margin-top: 190px;

}
.image-title2{
    width: 250px;
    margin-top: 300px;
}
.image-title3{
    width: 250px;
    margin-top: 160px;
}
.featured-box1{
    width: 464px;
    height: 538px;
    border-radius: 400px 400px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-box2{
    width: 464px;
    height: 538px;
    border-radius: 400px 400px 0px 0px;
    background: url(<path-to-image>),
     lightgray 50% / cover no-repeat;

}
.featured-box3{
    width: 464px;
    height: 538px;
    border-radius: 400px 400px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured-all-box{
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 30px;
     margin-top: 50px;
}
.featured-all-box h3{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}



/*********** our featured flowers section done **************/

.section-banner{
    width: 100%;
    height: 620px; 
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: center;
   background-repeat: no-repeat;
   align-items: center;
   display: flex;
   margin-top: 80px;
}
.banner-img{
    width: 318px;
   height: 420px;
}
.title{
    color: #E55473;
}
.banner-info h1{
   color: #272727;
   font-family: Lato;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}
.banner-info p{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner-info button{
    border-radius: 8px;
   background: #E55473;
   padding: 15px 30px 15px;
   margin-top: 20px;
   color: white;
}
/************ section banner done  **********/
.instagram-text h1{
    text-align: center;
    margin-top: 50px;
    color: #272727;
    font-size: 40px;
    margin-bottom: 20px;
}
.instagram-text p{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 20px;
}
.instagram-img{
    width: 342px;
    height: 396px;
}
.section-image{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/******************** banner last image  *************/
.input-section{
     display: flex;
     align-items: center;
     justify-content: center
}
/* .input-banner-section{
      margin-top: 100px;
} */
.input-banner-section h2{
    text-align: center;
    font-size: 40px;
    color: #272727;
}
.input-banner-section p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.input-banner-section input{
    width: 700px;
    padding: 18px 35px;
    border-radius: 8px;
    background: #FFF;
}
.input-banner-section button{
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px 15px;
    margin-top: 20px;
    color: white;
}


/***************** footer section start now  ***********/
.footer{
    width: 100%;
    height: 449px;
    background: #111010;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer-text{
    color: white;
    margin-bottom: 20px;
}
.footer-text h1{
    text-align: center;
    font-size: 48px;
    margin: 20px;
}
.footer-text p{
    width: 625px;
   color: rgba(255, 255, 255, 0.90);
   text-align: center;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
}
.footer-text h5{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}
/******************* footer section done  ******************/